{% extends "ESGISGabonMainBundle::backend_base.html.twig" %}


{% block page_content_toolbar %}
    <a href="javascript:;" ><span>Modules</span> <i class="material-icons">apps</i></a>
{% endblock %}


{% block page_content_container %}

{% endblock %}