<footer class="esgis_ga_ent_footer bg-transparent">
    <div class="container">
        <!-- ENT FOOTER SUB MENU -->
        {{ knp_menu_render('ESGISGabonMainBundle:Builder:footerSubMenu', {'template': 'ESGISGabonMainBundle:Menu:knp_menu.html.twig'}) }}
        <!-- /ENT FOOTER SUB MENU -->
        <!-- ENT FOOTER MAIN MENU -->
        {{ knp_menu_render('ESGISGabonMainBundle:Builder:footerMainMenu', {'template': 'ESGISGabonMainBundle:Menu:knp_menu.html.twig'}) }}
        <!-- /ENT FOOTER MAIN MENU -->
        <p class="text-right">ESGIS Gabon © 2015</p>
    </div>
</footer>